
#nav-bar {
    height: 100px;
    width: 100vw;
    background-color: rgba(5, 5, 5, .7);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;

}

.logo{
    margin-left: 50px;
    font-weight: 700;
    font-size: 40px;
    color: white;
    font-family: 'Righteous', cursive;
}

.menu-buttons{
    margin-right: 50px;
    display: flex;
    flex-direction: row;
    color: white;
    
}
.links{
    padding: 0 20px;
    font-weight: 500;
    font-size: 18px;
    color: white;
}

.links-design{
    background-color: transparent;
    color: white;
    font-size: 20px;
    border: none;
    font-family: 'Orbitron', sans-serif;
}

Link{
    color: white;
}